
<%# Home page of the website %>
<%# ------------------------------------------------------------------------ %>

<div class="home">
  <div class="avatar-home">
    <%= image_tag "profil.jpg", class:"avatar-home" %>
  </div>
  <div class="short-presentation">
    <div class="title-presentation">
      <h2>Thomas Le Véo</h2>
      <h1>
        <span
          class="text-outline">Web Développeur</span><span
          class="linear-gradient-text-violet"
        >
          full stack
        </span>
        </h1>
    </div>
    <div class="contact">
      <p><strong>Email</strong> thomasleveo@gmail.com</p>
      <p><strong>Tel</strong> +33 6 37 47 38 07</p>
      <p><strong>Villes</strong> Paris / Lyon</p>
      <a href="https://github.com/ThompsonLV" target="_blank">Lien GitHub</a>
      <a href="https://www.linkedin.com/in/thomas-le-veo/" target="_blank">Lien LinkedIn</a>

    </div>
  </div>
</div>

<%# Description de mon profil %>
<%# ------------------------------------------------------------------------ %>
<div class="container">
  <div class="my-profil">
    <%= image_tag "profil.jpg", class:"small-avatar-shadowed" %>
    <div class="presentation">
      <div class="subtitle">
        <h3 class="text-green">Qui je suis ?</h3>
        <h3>Thomas Le Véo, ingénieur bâtiment reconverti en web développeur</h3>
      </div>
      <p>
        Issu d'une formation d'ingénieur, et après 7 années en entreprise en tant
        que <strong>chargé d’opérations</strong>, je me suis passionné pour le
        <strong>Web Développement</strong> et j'ai décidé d'entamer une reconversion
        professionnelle. Après m'être formé plusieurs mois en autodidacte en parallèle
        de mon travail, j'ai décidé de me dédier à 100% au Web Developpement.
        Pour concrétiser cette transition, j'ai suivi avec succès une <strong>
        formation intensive</strong> de 9 semaines au sein du Wagon à Lyon.
        Cette expérience a renforcé ma passion et  validé mes compétences dans le domaine
        du <strong>Web Developpement</strong>.
      </p>
      <p>
        Mon profil Full Stack émane de ma passion pour le design et l'algorithmique,
        deux facettes complémentaires du développement web. Je m'épanouis dans la
        création d'expériences utilisateur harmonieuses tout en élaborant des solutions
        algorithmiques robustes.
        Du côté Frontend, mon attrait pour le design guide la création d'interfaces
        soignées et intuitives. Simultanément, mon intérêt pour l'algorithmique m'inspire
        dans le développement Back-end, où je cherche à optimiser les performances et à
        concevoir des architectures solides.
      </p>
    </div>
  </div>

  <%# Description des mes skills %>
  <%# ------------------------------------------------------------------------ %>
  <div class="my-skills" data-controller="animated-circle" data-action="scroll@window->animated-circle#reveal" >
    <h2 class="subtitle">Skills</h2>
    <div class="all-skills">
      <div class="skill">
        <svg>
          <circle class="circle1" cx="70px" cy="70px" r="70px"></circle>
          <circle class="circle1" cx="70px" cy="70px" r="70px"></circle>
          <span>70%</span>
        <h3 class="skill-title">HTML</h3>
        </svg>
      </div>
      <div class="skill">
        <svg>
          <circle class="circle2" cx="70px" cy="70px" r="70px"></circle>
          <circle class="circle2" cx="70px" cy="70px" r="70px"></circle>
          <span>70%</span>
        <h3 class="skill-title">CSS</h3>
        </svg>
      </div>
      <div class="skill">
        <svg>
          <circle class="circle3" cx="70px" cy="70px" r="70px"></circle>
          <circle class="circle3" cx="70px" cy="70px" r="70px"></circle>
          <span>50%</span>
        <h3 class="skill-title">JS</h3>
        </svg>
      </div>
      <div class="skill">
        <svg>
          <circle class="circle4" cx="70px" cy="70px" r="70px"></circle>
          <circle class="circle4" cx="70px" cy="70px" r="70px"></circle>
          <span>70%</span>
        <h3 class="skill-title">Ruby on rails</h3>
        </svg>
      </div>
      <div class="skill">
        <svg>
          <circle class="circle5" cx="70px" cy="70px" r="70px"></circle>
          <circle class="circle5" cx="70px" cy="70px" r="70px"></circle>
          <span>30%</span>
        <h3 class="skill-title">REACT</h3>
        </svg>
      </div>
      <div class="skill">
        <svg>
          <circle class="circle6" cx="70px" cy="70px" r="70px"></circle>
          <circle class="circle6" cx="70px" cy="70px" r="70px"></circle>
          <span>40%</span>
        <h3 class="skill-title">SQL</h3>
        </svg>
      </div>
      <div class="skill">
        <svg>
          <circle class="circle7" cx="70px" cy="70px" r="70px"></circle>
          <circle class="circle7" cx="70px" cy="70px" r="70px"></circle>
          <span>50%</span>
        <h3 class="skill-title">FIGMA</h3>
        </svg>
      </div>
    </div>
    <p>
      Un bref aperçu de mes compétences acquises au fil des années témoigne de
      mon engagement envers l'apprentissage continu et l'évolution constante
      dans le domaine du développement web. Animé par une curiosité, j'ai
      consolidé mes connaissances lors de ma formation au sein du programme <strong>
      le Wagon </strong>
      Fort de cette base solide, je me lance actuellement dans l'exploration de
      nouvelles stacks technologiques et dans la veille technologiques. Mon
      focus actuel se concentre sur l'approfondissement de mes compétences en
      <strong>ReactJS</strong>, un framework JavaScript moderne, et prochainement
      sur l'apprentissage de <strong>C#</strong>, ouvrant ainsi de nouvelles
      perspectives pour des projets innovants et stimulants.


    </p>
  </div>

  <%# Description de mes projets %>
  <%# ------------------------------------------------------------------------ %>
  <div class="my-project">
    <h2 class="subtitle">Mes projets</h2>
    <div class="all-projects">
      <div class="project">
        <%= image_tag "project.jpg" %>
        <div class="short-description">
          <h3>TourPic Explorer</h3>
          <p>Terminé</p>
          <p>
            Ce projet consiste en une application mobile innovante qui offre
            une expérience unique de redécouverte de la ville de Lyon à travers
            des défis photos. Conçue pour les utilisateurs à la recherche
            d'aventures visuelles, l'application propose un parcours ludique
            mettant en valeur les points touristique de la ville.
          </p>
        </div>
      </div>
      <div class="project">
        <%= image_tag "project.jpg" %>
        <div class="short-description">
          <h3>Application mobile de gestion de colocation</h3>
          <p>En cours</p>
          <p>
            Application mobile destinée à des colocataires pour améliorer la
            gestion des tâches, gestion administrative mais également renforcer
            les relations au sein de la colocation avec un jeu, des listes de
            partages d'idée ou de sujet qui passionne, un calendrier partagé.
          </p>
        </div>
      </div>
      <div class="project">
        <%= image_tag "project.jpg" %>
        <div class="short-description">
          <h3>Projet</h3>
          <p>En cours</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur soluta, alias suscipit consequatur voluptatum sint nemo mollitia, necessitatibus, pariatur voluptate recusandae facere. Consequatur molestias vero, nihil quae autem optio voluptatem.</p>
        </div>
      </div>
    </div>
  </div>
</div>
