<div class="home">
  <div class="avatar-home">
    <%= image_tag "profil.jpg", class:"avatar-home" %>
  </div>
  <div class="short-presentation">
    <div class="title-presentation">
      <h2>Thomas Le Véo</h2>
      <h1>Web Développeur <span class="highlighted-text-violet">full stack</span></h1>
    </div>
    <div class="contact">
      <p><strong>Email</strong> thomasleveo@gmail.com</p>
      <p><strong>Tel</strong> +33 6 37 47 38 07</p>
      <p><strong>Villes</strong> Paris / Lyon</p>

    </div>
  </div>
</div>

<div class="page">
  <div class="my-profil">
    <div class="small-avatar">
      <%= image_tag "profil.jpg", class:"small-avatar-shadowed" %>
    </div>
    <div class="presentation">
      <div class="subtitle">
        <h3 class="text-green">Qui je suis ?</h3>
        <h3>Thomas Le Véo, ingénieur bâtiment reconverti en web développeur</h3>
      </div>
      <p>
        Issu d'une formation d'ingénieur, et après 7 années en entreprise en tant
        que <strong>chargé d’opérations</strong>, je me suis passionné pour le
        <strong>Web Développement</strong> et j'ai décidé d'entamer une reconversion
        professionnelle. Après m'être formé plusieurs mois en autodidacte en parallèle
        de mon travail, j'ai décidé de me dédier à 100% au Web Developpement.
        Pour concrétiser cette transition, j'ai suivi avec succès une <strong>
        formation intensive</strong> de 9 semaines au sein du Wagon à Lyon.
        Cette expérience a renforcé ma passion et  validé mes compétences dans le domaine
        du <strong>Web Developpement</strong>.
      </p>
    </div>
  </div>
</div>

<div class="page">
  <div class="my-skills">
    <h2 class="subtitle">Skills</h2>
    <div class="all-skills">
      <div class="skill">
        <svg>
          <circle class="circle1" cx="70px" cy="70px" r="70px"></circle>
          <circle class="circle1" cx="70px" cy="70px" r="70px"></circle>
          <span>70%</span>
        <h3 class="skill-title">HTML</h3>
        </svg>
      </div>
      <div class="skill">
        <svg>
          <circle class="circle2" cx="70px" cy="70px" r="70px"></circle>
          <circle class="circle2" cx="70px" cy="70px" r="70px"></circle>
          <span>70%</span>
        <h3 class="skill-title">CSS</h3>
        </svg>
      </div>
      <div class="skill">
        <svg>
          <circle class="circle3" cx="70px" cy="70px" r="70px"></circle>
          <circle class="circle3" cx="70px" cy="70px" r="70px"></circle>
          <span>50%</span>
        <h3 class="skill-title">JS</h3>
        </svg>
      </div>
      <div class="skill">
        <svg>
          <circle class="circle4" cx="70px" cy="70px" r="70px"></circle>
          <circle class="circle4" cx="70px" cy="70px" r="70px"></circle>
          <span>70%</span>
        <h3 class="skill-title">Ruby on rails</h3>
        </svg>
      </div>
      <div class="skill">
        <svg>
          <circle class="circle5" cx="70px" cy="70px" r="70px"></circle>
          <circle class="circle5" cx="70px" cy="70px" r="70px"></circle>
          <span>30%</span>
        <h3 class="skill-title">REACT</h3>
        </svg>
      </div>
      <div class="skill">
        <svg>
          <circle class="circle6" cx="70px" cy="70px" r="70px"></circle>
          <circle class="circle6" cx="70px" cy="70px" r="70px"></circle>
          <span>40%</span>
        <h3 class="skill-title">SQL</h3>
        </svg>
      </div>
      <div class="skill">
        <svg>
          <circle class="circle7" cx="70px" cy="70px" r="70px"></circle>
          <circle class="circle7" cx="70px" cy="70px" r="70px"></circle>
          <span>50%</span>
        <h3 class="skill-title">FIGMA</h3>
        </svg>
      </div>
    </div>
    <p>
      Un petit aperçu de mes compétences acquises au fil des années.<br>
      Curieux et passionnée, à la suite de ma formation avec <strong>Le Wagon</strong>,
      je continue de me former sur des stacks nouvelles. Je suis actuellement en train
      de me former sur <strong>React</strong> et <strong>Java</strong>.
    </p>
  </div>
</div>

<div class="page">
  <div class="my-project">
    <h2 class="subtitle">Mes projets</h2>
    <div class="all-projects">
      <div class="project">
        <%= image_tag "project.jpg" %>
        <div class="short-description">
          <h3>Projet 1</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur soluta, alias suscipit consequatur voluptatum sint nemo mollitia, necessitatibus, pariatur voluptate recusandae facere. Consequatur molestias vero, nihil quae autem optio voluptatem.</p>
        </div>
      </div>
      <div class="project">
        <%= image_tag "project.jpg" %>
        <div class="short-description">
          <h3>Projet 2</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur soluta, alias suscipit consequatur voluptatum sint nemo mollitia, necessitatibus, pariatur voluptate recusandae facere. Consequatur molestias vero, nihil quae autem optio voluptatem.</p>
        </div>
      </div>
      <div class="project">
        <%= image_tag "project.jpg" %>
        <div class="short-description">
          <h3>Projet 3</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur soluta, alias suscipit consequatur voluptatum sint nemo mollitia, necessitatibus, pariatur voluptate recusandae facere. Consequatur molestias vero, nihil quae autem optio voluptatem.</p>
        </div>
      </div>
    </div>
  </div>
</div>
